# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Temp video outputs
temp_vid/

# Gradio / UI artifacts
*.log
*.pid

# Model cache (Diffusers)
~/.cache/huggingface/

# Docker files
*.tar
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
